@import "./theme.scss";

.root {
    background-color: var(--background-variant);
    border-radius: 8px;
    padding: 16px 2px;
    min-width: 290px;
    overflow-x: hidden;
    overflow-y: scroll;

    .title {
        margin: 0;
        font-weight: bold;
        text-align: center;
    }

    .departures {
        overflow-x: hidden;
    }
}