@import "./theme.scss";

.root {
    display: flex;
    align-items: center;
    padding-right: 16px;
    transition: 100ms background-color;
    font-size: 1.1em;

    &:hover {
        background-color: var(--background);
    }

    &.clickable:hover {
        cursor: pointer;
    }

    >.line_info {
        display: flex;
        flex: 1;

        >.line {
            width: 48px;
            text-align: center;
            font-weight: bold;
            color: var(--highlight);
        }
        >.direction {
            overflow: hidden; 
        }
    }

    .arrow {
        padding-left: 8px;
    }
}