@import "./theme.scss";

.root {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);

    a {
        color: unset;
        text-decoration: unset;

        h1 {
            color: var(--on-primary);
        }
    }
}