// light theme
:root {
    --primary: #009de0;
    --on-primary: #e8e8e8;
    --background: #e8e8e8;
    --on-background: #000000;
    --on-background-highlight: #03a8ed;
}


// dark theme
.dark-theme {
    --primary: #007eb3;
    --on-primary: #e8e8e8;
    --background: #181a1b;
    --on-background: #e8e8e8;
    --on-background-highlight: #2bbeff;
}